
.about-container {
  display: flex;
  font-family: 'Vollkorn', serif;
  flex-direction: column;
  max-width: 530px;
  min-width: 450px;
  height: 70%;
  align-items: center;
  gap: 1rem;

  .title {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .icon {
    }

    .content {
      font-size: 50px;
      text-align: center;
      font-style: italic;
    }
  }

  .description {
    text-align: center;
    font-size: 20px;
    color: #AEADAD;
  }

  .spacer {
    flex: 1;
  }
}
.about .form {
  position: absolute;
  transition: left .3s ease-in-out;
  bottom: 5%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: 730px;
}