

.about-form-container {
  border: 1px solid #fbfaf8;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: black;
  filter: invert(1);

  div.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 3rem;
    justify-content: space-between;
    gap: 1rem;

  .labels {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;

    .first-label {
      font-weight: 600;
    }

    .second-label {
      font-style: italic;
      font-weight: 400;
    }
  }

    input {
      height: 37px;
      font-size: 1rem;
      padding-left: 12px;
      width: 100%;
    }

    button.submit {
      border-radius: 300px;
      background-color: black;
      color: #fbfaf8;
      border-color: #fbfaf8;
      width: 100px;
      height: 40px;
      text-transform: none;
      font-size: 14px;
    }

    &.thank-you {
      padding: 0;
      label {
        font-size: 60px;
      }
    }
  }
}


.about-form-container.mobile {

  div.inner-container {
    padding: 1.5rem 1.5rem 0 1.5rem;

    .labels {
      font-size: 14px;
      gap: .3rem;

      .first-label {
      }

      .second-label {

      }
    }

    input {

    }

    button.submit {

    }

    &.thank-you {

      label {

      }
    }
  }
}